<h2>變更 <span>密碼</span></h2>

<%= form_tag changePassword_path do %>
  <div class="field">
    <p class="inline"><%= label_tag :old_password, "舊密碼:" %>&emsp;</p>
    <%= password_field_tag :old_password %>
  </div>
	<br>
  <div class="field">
    <p class="inline"><%= label_tag :password, "新密碼:" %>&emsp;</p>
    <%= password_field_tag :password %>
  </div>
	<br>
	<div class="field">
    <p class="inline"><%= label_tag :password_confirmation, "確認新密碼:" %>&emsp;</p>
    <%= password_field_tag :password_confirmation %>
  </div>
	<br>
  <div class="clear">
		<%= submit_tag "變更" %>
	</div>
<% end %>

