<% if @upload.id == nil && Time.now < @task.deadline %>
	<hr size=2 align=center width=100%>
	<%= form_tag uploadFile_path, multipart: true do %>
		<!-- Teammates rate -->
		<% if @groups.size > 0 %>
			<%= hidden_field_tag 'has_group', 1 %>
			<p>
				<h2>隊友評價</h2>
				<a style="color:#0082c1">*為您辛苦的隊友評個分數!</a><br><br>
				<% @teammates.each_with_index do |t, idx| %>
					<p class="inline">
						<%= t.name %>:&nbsp;&nbsp;
						<%= ratings_for @rate_list[idx], :show_user_rating => true %>
					</p>
				<% end %>
			</p>
			<br>
			<p>
				<h2>分組評價</h2>
				<a style="color:#0082c1">*對於您這次的分組給個評價吧!</a><br><br>
				<%= ratings_for @current_group, :show_user_rating => true %>
			</p>
		<% else %>
			<%= hidden_field_tag 'has_group', 0 %>
		<% end %>
		<br>
		<p>
			<h2>繳交作業</h2>
			<%= file_field_tag :file %>
			<%= submit_tag "上傳", data: { confirm: "確定上傳?" }, :class => 'tsc_c3b_small tsc_button tsc_c3b_blue tsc_c3b_input' %>
		</p>
		
		<%= hidden_field_tag 'u_id', @upload.user_id %>
		<%= hidden_field_tag 't_id', @upload.task_id %>
	<% end %>
	<hr size=2 align=center width=100%>

<% elsif @upload.id == nil && Time.now > @task.deadline %>
	<p>──&nbsp;作業未繳交&nbsp;──</p>
	
<% else %>
	<hr size=2 align=center width=100%>
	<p>
		檔案:&nbsp;&nbsp;<%= File.basename(@upload.file.path) %>&nbsp;&nbsp;&nbsp;&nbsp;
		(<%= File.basename(@upload.file.size.to_s) %>&nbsp; bytes)
	</p>
	
	<% if @groups.size > 0 %>
		<br>
		<p>
			給隊友的評價:
			<% @teammates.each_with_index do |t, idx| %>
				<p class="inline">
					<%= t.name %>:&nbsp;&nbsp;
					<%= ratings_for @rate_list[idx], :show_user_rating => true %>
				</p>
			<% end %>
		</p>
		<br>
		<p>
			給這次分組的評價:
			<%= ratings_for @current_group, :show_user_rating => true %><br>
			<a style="color:#0082c1">*評價可以直接在這更改呦!</a>
		</p>
	<% end %>
	
	<% if Time.now < @task.deadline %>
	<div><%= link_to '編輯', :controller => 'tasks', :action => 'edit_file', :id => @upload.task_id %></div>
	<% end %>
	<hr size=2 align=center width=100%>
	
<% end %>
