<% if @task.publish == nil || @task.publish < Time.now %>
	<h2>檔案 <span>編輯</span></h2>

	<p style="color:#0082c1">*若無上傳新檔案, 系統會自動保留舊檔案<p>
	<%= form_tag uploadFile_path, multipart: true do %>
		<% if @teams_rate = @task.member_rates.where(:from_id => current_user.id) %>
			<%= hidden_field_tag 'has_group', 1 %>
			<p class="inclass">
				<% @teams_rate.each_with_index do |t, idx| %>
					<p class="inline">
						<%= User.find(t.to_id).name %>:&nbsp;&nbsp;
						<%= ratings_for t, :show_user_rating => true %>
					</p>
				<% end %>
			</p>
			<br>
			<% if @current_group %>
				<p>
					給這次分組的評價:
					<%= ratings_for @current_group, :show_user_rating => true %>
				</p>
			<% end %>
			
		<% else %>
				<%= hidden_field_tag 'has_group', 0 %>
				
		<% end %>
		
		<br>
		<p>
			<%= file_field_tag :file %>
			<%= submit_tag "上傳", data: { confirm: "確定上傳?" }, :class => 'tsc_c3b_small tsc_button tsc_c3b_blue tsc_c3b_input' %>
		</p>
		
		<%= hidden_field_tag 'u_id', @upload.user_id %>
		<%= hidden_field_tag 't_id', @upload.task_id %>
	<% end %>
<% else %>
	<h2>尚未公告</h2>
<% end %>
