<h2>匯入 <span>班級名單</span></h2>

<div>
	<p class="inline">已匯入之班級: <%= select_tag '班級', options_from_collection_for_select( SchoolClass.order(:name), 'id', 'name' ) %></p>
	<p>&emsp; 已新增之課名: <%= select_tag '課名', options_from_collection_for_select( Course.order(:name), 'id', 'name' ) %></p>
</div>

<%= form_tag import_excel_groups_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "匯入" %>
<% end %>

<br><br>
<div>* 請注意，一次僅能匯入一個班級，檔案格式僅限 ".xls" 與 ".xlsx"</div><br>
<div>* 學生預設密碼皆為 "1111"</div>
<br><br>

<div><%= link_to "手動新增學生帳號", mastudent_path, class: "inline" %>&emsp;&emsp;<%= link_to "手動新增課堂名稱", macourse_path %><div>