<h2>手動新增 <span>課程代號</span></h2>

<div>
	<p>查詢已新增之課程代號: <%= select_tag '課程代號', options_from_collection_for_select( Course.order(:name), 'id', 'name' ), :prompt => "請選擇" %></p>
</div>

<%= form_for @course, :url => ccourse_path(@course) do |f| %>
	<%= render "course_fields", :f => f %>
	
	<div class="actions">&emsp;&emsp;<%= submit_tag "新增", data: { confirm: "課程新增後無法手動刪除，確定新增?" }, :class => 'tsc_c3b_small tsc_button tsc_c3b_blue tsc_c3b_input' %></div>
<% end %>

<br><br>

<%= link_to "回上一頁", import_path %>