<h2>設定班級 <span>分組方式</span></h2>

<%= form_for @course, :url => {:action => "create_group"} do |f| %>
	<% if @course.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %><br><br>
      </ul>
    </div>
  <% end %>
	
	<p class="inline">選擇課程: &emsp;<%= f.select :name, Course.all.map{ |c| [c.name] }, :prompt => "請選擇" %></p>
	<p class="inline">&emsp;<%= f.select :group_mode, options_for_select([["S型分組", 0], ["隨機分組", 1], ["研究分組", 2]]), :prompt => "請選擇" %><br></p>
	<div class="actions">&emsp;<%= f.submit '確認', :class => 'tsc_c3b_small tsc_button tsc_c3b_blue tsc_c3b_input' %></div>
<% end %>

<br><br>
<div>* 請注意，分組方式一旦設定完成，無法中途改變模式</div><br>
<br><br>

