<h2>教師 <span>註冊</span></h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li><br><br>
        <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field">
    <%= f.label :account %><br>
    <%= f.text_field :account, :id => "id_check" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
	<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>
		
	<!-- avoid that student sign up -->
	<div>
		<br>邀請碼: &nbsp; <%= password_field_tag "invited_code" %>
	</div>
	
	<%= f.hidden_field :school_class_id, :value => "-1" %>
	
  <br><div class="actions"><%= f.submit '送出', :id => "check", :class => 'tsc_c3b_small tsc_button tsc_c3b_blue tsc_c3b_input' %></div>
<% end %>

<script>
	/*$("#check").attr("disabled", true);
	$("#check").hide();
	
	//check account
	$("#id_check").keyup(function()
	{
		if($(this).val() != "")
		{
			$("#check").show("slow");
			$("#check").attr("disabled", false);
		}
		else
		{
			$("#check").hide("slow");
			$("#check").attr("disabled", true);
		}
	});*/
</script>


