<h2>成績 <span>查詢</span></h2>

<% @courses.each do |course| %>
	<% assignments = course.tasks.where(:category => 0).where("publish < ?", Time.now).order("created_at DESC") %>
	<% exercises = course.tasks.where(:category => 1).where("publish < ?", Time.now).order("created_at DESC") %>
	<% tests = course.tasks.where(:category => 2).where("publish < ?", Time.now).order("created_at DESC") %>
	
	<h3><%= course.name %></h3>
	<hr size=2 align=center width=100%>
	<h3> Assignment </h3>
	<% assignments.each do |a| %>
		<p>
			<%= a.title %>:&nbsp;&nbsp;
			
			<% upload = a.uploads.find_by_user_id(current_user.id) %>
			<% if upload != nil && upload.score != nil %>
				<%= upload.score %>
				
			<% elsif upload == nil %>
				<hl style="color:#c10000">作業未繳交</hl>
				
			<% elsif upload.score == nil %>	
				尚未公告成績
			<% end %>
		</p>
	<% end %>
	<br><hr size=2 align=center width=100%>
	
	<h3> Exercise </h3>
	<% exercises.each do |a| %>
		<p>
			<%= a.title %>:&nbsp;&nbsp;
			
			<% upload = a.uploads.find_by_user_id(current_user.id) %>
			<% if upload != nil && upload.score != nil %>
				<%= upload.score %>
				
			<% elsif upload == nil %>
				<hl style="color:#c10000">作業未繳交</hl>
				
			<% elsif upload.score == nil %>	
				尚未公告成績
			<% end %>
		</p>
	<% end %>
	<br><hr size=2 align=center width=100%>
	
	<h3> Test </h3>
	<% tests.each do |a| %>
		<p>
			<%= a.title %>:&nbsp;&nbsp;
			
			<% upload = a.uploads.find_by_user_id(current_user.id) %>
			<% if upload != nil && upload.score != nil %>
				<%= upload.score %>
				
			<% elsif upload == nil %>
				<hl style="color:#c10000">作業未繳交</hl>
				
			<% elsif upload.score == nil %>	
				尚未公告成績
			<% end %>
		</p>
	<% end %>
	
<% end %>